Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  cert-*,
  concurrency-*,
  cppcoreguidelines-*,
  hicpp-*,
  linuxkernel-*,
  misc-*,
  modernize-*,
  mpi-*,
  openmp-*,
  performance-*,
  portability-*,
  readability-*,
  -modernize-use-trailing-return-type,

  -readability-identifier-length,
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-magic-numbers

# The checks after the space are specific to this project
# They're ones that get in the way for "note-taking" code

WarningsAsErrors: ""
HeaderFilterRegex: ".*"
FormatStyle: file
